.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  text-overflow: ellipsis;
  justify-content: center;
  max-width: 100vw;
  min-width: auto;
}

.BooksLoader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
